<div class="single-endpoint" *ngIf="endpoint">
  <mat-card>
    <mat-card-title>Define task</mat-card-title>
    <mat-card-subtitle> {{endpoint.name}}</mat-card-subtitle>
    <mat-card-subtitle>path: {{endpoint.path}}</mat-card-subtitle>
    <mat-card-subtitle>method: {{endpoint.method}}</mat-card-subtitle>
    <mat-card-subtitle *ngIf="endpoint && endpoint.consumes">consumes: {{endpoint.consumes}}</mat-card-subtitle>
    <mat-card-subtitle *ngIf="endpoint && endpoint.produces">produces: {{endpoint.produces}}</mat-card-subtitle>

    <form class="example-container" formArrayName="options"  (ngSubmit)="submitted.emit(form.value)" > <!--[formGroup]="options">-->
      <mat-list>
        <mat-list-item *ngFor="let i of endpoint?.input">
          <div *ngIf="!isFileType(i)">
            <mat-form-field>
              <input matInput formControlName="{{i.name}}" placeholder="{{i.name}}: {{i.type}}" (change)="showChanges()">
            </mat-form-field>
          </div>
          <div *ngIf="isFileType(i)">
            <button mat-button (click)="imgFileInput.click()">Add {{i.name}}</button>
            <input hidden type="file" #imgFileInput (change)="fileChange($event)"/>
          </div>
        </mat-list-item>
      </mat-list>
    </form>
    <mat-card-actions>
      <button mat-button (click)="goBack()">
        Back
      </button>
      <button style="float: right" mat-button (click)="send()">
        Send task
      </button>
    </mat-card-actions>
  </mat-card>
</div>
